* {
    margin: 0;
}

header img {
    width: 157px;
    height: 53px;
    left: 128px;
    top: 24px;
    bottom: 60px;
}

nav {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}

nav a {
    color: #388878;
}    

ul {
    list-style: none;
}

h2 {
    font-family: 'Glamour Absolute';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;    
    line-height: 64px;
    letter-spacing: 0.04em; 
}

.text1 h2 {
    color: #2A3833;
}

.text2 h2 {
    color: #FFFFFF;
}

section:not(#Reviews) p {    
    color: #3C5049;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;  
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: 0.08em;
}

#Welcome {
    margin-top: 60px;
    margin-bottom: 200px;
    margin-right: 129px;
}

#Choose {
    margin-bottom: 200px;
    margin-right: 134px;
    margin-left: 133px;
}

#Menu {
    margin-bottom: 200px;
    margin-left: 127px;
}

#BOOK {
    margin-bottom: 200px;
    margin-right: 122px; 
} 

#Reviews {
    background: #456658;
}

#Reviews p {
    background: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.04em;

/* Green/Primary */

color: #3C5049;
}

#Menu h2{
    background: #456658;
}

button {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: 0.08em;
    width: 157px;
    height: 46px;
    background: #3C5049;
    color: #FFFFFF;
    text-align: center;
}